.food-icon-adeptus-temptation {
    background-image: url("../../images/food/attack/adeptus_temptation.png");
}
.food-icon-chicken-tofu-pudding {
    background-image: url("../../images/food/attack/chicken_tofu_pudding.png");
}
.food-icon-golden-fried-chicken {
    background-image: url("../../images/food/attack/golden_fried_chicken.png");
}
.food-icon-jade-parcels {
    background-image: url("../../images/food/attack/jade_parcels.png");
}
.food-icon-tianshu-meat {
    background-image: url("../../images/food/attack/tianshu_meat.png");
}
.food-icon-adventurers-breakfast-sandwich {
    background-image: url("../../images/food/attack/adventurers_breakfast_sandwich.png");
}
.food-icon-cold-cut-platter {
    background-image: url("../../images/food/attack/cold_cut_platter.png");
}
.food-icon-fragrant-mashed-potatoes {
    background-image: url("../../images/food/attack/fragrant_mashed_potatoes.png");
}
.food-icon-jueyun-guoba {
    background-image: url("../../images/food/attack/jueyun_guoba.png");
}
.food-icon-qingce-stir-fry {
    background-image: url("../../images/food/attack/qingce_stir_fry.png");
}
.food-icon-sauteed-matsutake {
    background-image: url("../../images/food/attack/sauteed_matsutake.png");
}
.food-icon-pile-em-up {
    background-image: url("../../images/food/attack/pile_em_up.png");
}
.food-icon-come-and-get-it {
    background-image: url("../../images/food/attack/come_and_get_it.png");
}
.food-icon-cured-pork-dry-hotpot {
    background-image: url("../../images/food/attack/cured_pork_dry_hotpot.png");
}

.food-icon-almond-tofu {
    background-image: url("../../images/food/attack/almond_tofu.png");
}
.food-icon-braised-meat {
    background-image: url("../../images/food/attack/braised_meat.png");
}
.food-icon-crab-roe-kourayaki {
    background-image: url("../../images/food/attack/crab_roe_kourayaki.png");
}
.food-icon-fried-radish-balls {
    background-image: url("../../images/food/attack/fried_radish_balls.png");
}
.food-icon-imported-poultry {
    background-image: url("../../images/food/attack/imported_poultry.png");
}
.food-icon-jueyun-chili-chicken {
    background-image: url("../../images/food/attack/jueyun_chili_chicken.png");
}
.food-icon-mint-salad {
    background-image: url("../../images/food/attack/mint_salad.png");
}
.food-icon-more-and-more {
    background-image: url("../../images/food/attack/more_and_more.png");
}
.food-icon-radish-and-fish-stew {
    background-image: url("../../images/food/attack/radish_and_fish_stew.png");
}
.food-icon-sashimi-platter {
    background-image: url("../../images/food/attack/sashimi_platter.png");
}
.food-icon-satisfying-salad {
    background-image: url("../../images/food/attack/satisfying_salad.png");
}
.food-icon-stone-harbor-delicacies {
    background-image: url("../../images/food/attack/stone_harbor_delicacies.png");
}
.food-icon-tri-flavored-skewer {
    background-image: url("../../images/food/attack/tri_flavored_skewer.png");
}
.food-icon-heartstring-noodles {
    background-image: url("../../images/food/attack/heartstring_noodles.png");
}
.food-icon-only-truth {
    background-image: url("../../images/food/attack/only_truth.png");
}

.food-icon-die-heilige-sinfonie {
    background-image: url("../../images/food/attack/die_heilige_sinfonie.png");
}
.food-icon-once-upon-a-time-in-mondstadt {
    background-image: url("../../images/food/attack/once_upon_a_time_in_mondstadt.png");
}
.food-icon-no-tomorrow {
    background-image: url("../../images/food/attack/no_tomorrow.png");
}
.food-icon-sweet-dream {
    background-image: url("../../images/food/attack/sweet_dream.png");
}
.food-icon-der-weisheit-letzter-schluss {
    background-image: url("../../images/food/attack/der_weisheit_letzter_schluss.png");
}
.food-icon-rockin-riffin-chicken {
    background-image: url("../../images/food/attack/rockin_riffin_chicken.png");
}
.food-icon-forest-show-me-the-mora {
    background-image: url("../../images/food/attack/show_me_the_mora.png");
}
.food-icon-gateau-debord-magnifique {
    background-image: url("../../images/food/attack/gateau_debord_magnifique.png");
}
.food-icon-verdant-gift {
    background-image: url("../../images/food/attack/verdant_gift.png");
}
.food-icon-gilded-hall {
    background-image: url("../../images/food/attack/gilded_hall.png");
}

.food-icon-flaming-essential-oil {
    background-image: url("../../images/food/potion/flaming_essential_oil.png");
}
.food-icon-frosting-essential-oil {
    background-image: url("../../images/food/potion/frosting_essential_oil.png");
}
.food-icon-gushing-essential-oil {
    background-image: url("../../images/food/potion/gushing_essential_oil.png");
}
.food-icon-shocking-essential-oil {
    background-image: url("../../images/food/potion/shocking_essential_oil.png");
}
.food-icon-streaming-essential-oil {
    background-image: url("../../images/food/potion/streaming_essential_oil.png");
}
.food-icon-unmoving-essential-oil {
    background-image: url("../../images/food/potion/unmoving_essential_oil.png");
}
.food-icon-forest-essential-oil {
    background-image: url("../../images/food/potion/forest_essential_oil.png");
}

.food-icon-butter-crab {
    background-image: url("../../images/food/defence/butter_crab.png");
}
.food-icon-golden-crab {
    background-image: url("../../images/food/defence/golden_crab.png");
}
.food-icon-calla-lily-seafood-soup {
    background-image: url("../../images/food/defence/calla_lily_seafood_soup.png");
}
.food-icon-lotus-flower-crisp {
    background-image: url("../../images/food/defence/lotus_flower_crisp.png");
}
.food-icon-rice-cake-soup {
    background-image: url("../../images/food/defence/rice_cake_soup.png");
}
.food-icon-prize-catch {
    background-image: url("../../images/food/defence/a_prize_catch.png");
}
.food-icon-moon-pie {
    background-image: url("../../images/food/defence/moon_pie.png");
}
.food-icon-chili-mince-cornbread-buns {
    background-image: url("../../images/food/defence/chili_mince_cornbread_buns.png");
}
.food-icon-stormcrest-pie {
    background-image: url("../../images/food/defence/stormcrest_pie.png");
}
.food-icon-fishermans-toast {
    background-image: url("../../images/food/defence/fishermans_toast.png");
}
.food-icon-jewelry-soup {
    background-image: url("../../images/food/defence/jewelry_soup.png");
}
.food-icon-wakatakeni {
    background-image: url("../../images/food/defence/wakatakeni.png");
}
.food-icon-fish-flavored-toast {
    background-image: url("../../images/food/defence/fish_flavored_toast.png");
}
.food-icon-sunshine-sprat {
    background-image: url("../../images/food/defence/sunshine_sprat.png");
}
.food-icon-sakura-tempura {
    background-image: url("../../images/food/defence/sakura_tempura.png");
}
.food-icon-stir-fried-shrimp {
    background-image: url("../../images/food/defence/stir_fried_shrimp.png");
}
.food-icon-triple-layered-consomme {
    background-image: url("../../images/food/defence/triple_layered_consomme.png");
}
.food-icon-woodland-dream {
    background-image: url("../../images/food/defence/woodland_dream.png");
}
.food-icon-sakura-shrimp-crackers {
    background-image: url("../../images/food/defence/sakura_shrimp_crackers.png");
}
.food-icon-unagi-chazuke {
    background-image: url("../../images/food/defence/unagi_chazuke.png");
}
.food-icon-quiet-elegance {
    background-image: url("../../images/food/defence/quiet_elegance.png");
}
.food-icon-forest-watchers-choice {
    background-image: url("../../images/food/defence/forest_watchers_choice.png");
}
.food-icon-shimi-chazuke {
    background-image: url("../../images/food/defence/shimi_chazuke.png");
}
.food-icon-emotional-support {
    background-image: url("../../images/food/defence/emotional_support.png");
}

.food-icon-qingce-household-dish {
    background-image: url("../../images/food/attack/qingce_household_dish.png");
}
.food-icon-surveyors-breakfast-sandwich {
    background-image: url("../../images/food/attack/surveyors_breakfast_sandwich.png");
}
.food-icon-goldflame-tajine {
    background-image: url("../../images/food/defence/goldflame_tajine.png");
}
.food-icon-a-leisurely-sip {
    background-image: url("../../images/food/defence/a_leisurely_sip.png");
}
.food-icon-cubic-tricks {
    background-image: url("../../images/food/attack/cubic_tricks.png");
}
.food-icon-consomme-purete {
    background-image: url("../../images/food/attack/consomme_purete.png");
}
.food-icon-cheesy-crab-hotpot {
    background-image: url("../../images/food/defence/cheesy_crab_hotpot.png");
}
.food-icon-hymn-of-gathered-flame {
    background-image: url("../../images/food/attack/hymn_of_gathered_flame.png");
}
.food-icon-mt-mushroom {
    background-image: url("../../images/food/attack/mt_mushroom.png");
}
