.gi-dropdown-wrapper {
    width: 100%;
    position: relative;
    text-align: left;
}

.gi-dropdown-wrapper select {
    display: none;
}

.gi-dropdown-current {
    width: 100%;
    height: 26px;
    border-radius: 13px;
    padding: 0px 13px;
    color: #ece5d8;
    line-height: 23px;
    background-color: #353D4F;
    border: solid 2px #626770;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    user-select: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.gi-dropdown-current::before {
    position: absolute;
    top: 8px;
    right: 8px;
    content: "";
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #ece5d8;
}

.gi-dropdown-current.opened::before {
    border-bottom: 6px solid #ece5d8;
    border-top: 0px solid;
}

.gi-main-container .gi-dropdown-options, .gi-modal  .gi-dropdown-options {
    position: absolute;
    top: 30px;
    border-radius: 13px;
    width: 100%;
    z-index: 100;
    display: none;
    user-select: none;
    padding: 5px 0px;
    max-height: 350px;
    overflow-x: none;
    overflow-y: auto;
    color: #ece5d8;
    background-color: #353D4F;
    border: solid 1px #626770;
    box-sizing: content-box;
}

.gi-modal .gi-dropdown-options {
    z-index: 1100;
}

.gi-dropdown-current.opened + .gi-dropdown-options {
    display: block;
}

.gi-dropdown-option {
    height: 26px;
    margin: 0px 3px;
    padding: 0px 10px;
    line-height: 27px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.category .gi-dropdown-option {
    margin-left: 13px;
}

.gi-dropdown-caption {
    height: 26px;
    margin: 0px 3px;
    padding: 0px 10px;
    line-height: 27px;
    color: #D3BC8E;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.gi-dropdown-option.selected {
    background-color: #606979;
    border-radius: 13px;
    color: #FFF7E9;
}

.gi-dropdown-option.selected:after {
    content: '';
    display: block;
    position: absolute;
    right: 10px;
    top: 5px;
    width: 4px;
    height: 8px;
    border: solid #FFF7E9;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.gi-dropdown-options {
    position: absolute;
}

.gi-dropdown-options .simplebar-scrollbar::before {
    background-color: #FFF7E9;
}

.gi-dropdown-options .simplebar-track.simplebar-vertical {
    margin: 10px 0px;
}

.gi-suggester-select-wrapper {
    width: 100%;
    padding: 0px 5px;
    box-sizing: border-box;
    /* overflow: hidden; */
}


.gi-dropdown-icon {
    width: 24px;
    height: 24px;
    background-size: 100%;
    display: inline-block;
}

.gi-dropdown-current .gi-dropdown-icon {
    width: 18px;
    height: 18px;
    position: relative;
    top: 2px;
}

.gi-dropdown-current .hidden-icon {
    display: none;
}

.gi-dropdown-option-text {
    vertical-align: top;
}

.gi-dropdown-icon.icon-cryo {
    background-image: url("../../images/icons/element_cryo.webp");
}
.gi-dropdown-icon.icon-pyro {
    background-image: url("../../images/icons/element_pyro.webp");
}
.gi-dropdown-icon.icon-hydro {
    background-image: url("../../images/icons/element_hydro.webp");
}
.gi-dropdown-icon.icon-electro {
    background-image: url("../../images/icons/element_electro.webp");
}
.gi-dropdown-icon.icon-anemo {
    background-image: url("../../images/icons/element_anemo.webp");
}
.gi-dropdown-icon.icon-geo {
    background-image: url("../../images/icons/element_geo.webp");
}
.gi-dropdown-icon.icon-dendro {
    background-image: url("../../images/icons/element_dendro.webp");
}

.gi-dropdown-icon.icon-filter {
    background-image: url("../../images/icons/dropdown_filter.png");
}
.gi-dropdown-icon.icon-sort {
    background-image: url("../../images/icons/dropdown_sort.png");
}
