.gi-accordion-block {
    width: 100%;
    padding: 0px 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
    margin-top: 5px;
}

.gi-accordion-block-caption {
    background: #4B505E;
    border: solid 1px #545764;
    font-size: 20px;
    text-align: center;
    height: 30px;
    line-height: 28px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 10px;
}
.gi-accordion-block-content {
    background: rgba(30, 30, 30, 0.5);
    border: 0px none;
    width: 100%;
    padding: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* overflow: hidden; */
    box-sizing: border-box;
}

.gi-accordion-block.active .gi-accordion-block-caption {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.gi-accordion-block.active .gi-accordion-block-content {
    border: solid 2px #4B505E;
    border-top: 0px none;
    padding: 5px;
}
