.gi-food-wrapper {
    min-width: 235px;
    height: 100px;
    border: solid 2px #626770;
    border-radius: 15px;
    margin: 5px;
    box-sizing: border-box;
    background: rgba(30, 30, 30, 0.5);
}

.gi-food-name {
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0px 5px;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.gi-food-line {
    width: 100%;
    display: flex;
}

.gi-food-icon {
    width: 64px;
    height: 64px;
    background-size: cover;
    flex-shrink: 0;
}

.gi-food-data {
    flex-grow: 1;
}
