.gi-accordion-set-wrapper {
    width: 100%;
    height: 60px;
    display: flex;
}

.gi-accordion-set-icon {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    background-size: cover;
}

.gi-accordion-set-data {
    flex-grow: 1;
}

.gi-accordion-set-data-title {
    width: 100%;
    height: 25px;
    line-height: 25px;
}

.gi-accordion-set-data-pieces {
    height: 35px;
    width: 100%;
    display: flex;
}

.gi-accordion-set-data-pieces .gi-checkbox-wrapper {
    padding-right: 10px;
}

.gi-accordion-set-spacer {
    width: 100%;
    height: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}
