.gi-suggest-artifact-stat-tab .gi-tab-item-inner {
    background-image: url("../../../images/icons/tab_artifact2_light.png");
}
.gi-suggest-artifact-stat-tab.active .gi-tab-item-inner {
    background-color: #ECE5D8;
    background-image: url("../../../images/icons/tab_artifact2_dark.png");
}

.gi-suggester-artifact-stat {
    display: flex;
    margin: 2px 0;
}

.gi-suggester-artifact-slot {
    width: 20px;
    height: 20px;
    background-size: 100px 20px;
    background-color: #ECE5D8;
    border-radius: 50%;
    background-image: url("../../../images/icons/slots1.png");
}

.gi-suggester-artifact-stat-text {
    height: 20px;
    margin-left: 7px;
    line-height: 22px;
}

.gi-suggester-artifact-slot.sands {
    background-position: -40px 0px;
}

.gi-suggester-artifact-slot.goblet {
    background-position: -60px 0px;
}

.gi-suggester-artifact-slot.circlet {
    background-position: -80px 0px;
}
