.gi-food-stat {
    width: 100%;
    display: flex;
    padding: 0px 5px;
    box-sizing: border-box;
}

.gi-food-stat-name {
    flex-grow: 1;
    padding-right: 3px;
    text-align: right;
    color: #BEAEA9;
    font-size: 14px;
}

.gi-food-stat-empty {
    flex-grow: 1;
    text-align: center;
    color: #BEAEA9;
    font-size: 14px;
}

.gi-food-stat-value {
    width: 50px;
    padding-left: 3px;
    text-align: left;
    font-size: 15px;
}

.gi-food-type-item .gi-food-icon {
    position: absolute;
    top: 5px;
    left: 5px;
    opacity: 0.3;
}
