.gi-settings-tab .gi-tab-item-inner {
    background-image: url("../../../images/icons/tab_settings_light.png");
}
.gi-settings-tab.active .gi-tab-item-inner {
    background-color: #ECE5D8;
    background-image: url("../../../images/icons/tab_settings_dark.png");
}
